<div class="switch_container">
  <h1>{{ switch() }}</h1>
  @if (switch()) {
  <p>Switch is true</p>
  <img
    src="https://t4.ftcdn.net/jpg/02/71/65/67/360_F_271656742_Rp4Nlngi0tsz7dWsNGMgMGrzJeFnT9uk.jpg"
    alt=""
  />
  } @else {
  <p>Switch is false</p>
  <img
    src="https://imagenes.elpais.com/resizer/v2/KL5WRGABBFGJHC5NX5DZ47AES4.jpg?auth=c6c59a589f26f1ac38eddf19a113bc56d2bfb716ef1f78208d4fb24c6292f7e0&width=1200"
    alt=""
  />
  }
</div>

<div></div>

<!-- Buttons to toggle the view signal -->
<div class="button_container">
  <button (click)="switch.set(!switch())">Toggle Switch</button>
  <button (click)="view.set('cats')">Show Cats</button>
  <button (click)="view.set('champions')">Show Champions</button>
  <button (click)="view.set('all')">Show All</button>
  <button (click)="saludar()">Saludar</button>
  <button (click)="imprimir()">Imprimir</button>
</div>

<!-- Conditionally render the cats container if view is 'cats' or 'all' -->
@if (view() === 'cats' || view() === 'all') {
<div class="cats_container">
  <h1>{{ arreglo() }}</h1>
  <!--esto muestra el contenido de "Arreglo"  -->
  <div class="paprika">
    <h2>{{ arreglo()[0] }}</h2>
    <!-- esto muestra el contenido del arreglo en la posición 0 -->
    <img src="papri.jpeg" alt="" />
  </div>
  <div class="fifi">
    <h2>{{ arreglo()[1] }}</h2>
    <!-- esto muestra el contenido del arreglo en la posición 1 -->
    <img src="fifi.jpeg" alt="" />
  </div>
  <div class="colette">
    <h2>{{ arreglo()[2] }}</h2>
    <!-- esto muestra el contenido del arreglo en la posición 2 -->
    <img src="colette.jpeg" alt="" />
  </div>
  <div class="sirius">
    <h2>{{ arreglo()[3] }}</h2>
    <!-- esto muestra el contenido del arreglo en la posición 3 -->
    <img src="sirius.jpeg" alt="" />
  </div>
</div>
}

<!-- Conditionally render the champions container if view is 'champions' or 'all' -->
@if (view() === 'champions' || view() === 'all') {
<div class="champions_container">
  @for (item of objeto(); track $index) {
  <!--recorre el arreglo y muestra el contenido de cada elemento
-->
  <!--track variable que indica que elemento se esta iterando, ligado a $index que es una segunda variable que indica el indice del elemento -->

  <div class="champion">
    <h2>{{ item.titulo }}</h2>
    <!--muestra el contenido de cada elemento -->
    <img src="{{ item.imagen }}" alt="" />
    <!-- muestra la imagen correspondiente  -->
  </div>
  }
</div>
}
<app-hijo></app-hijo>
<!-- Muestra el componente hijo -->
<form (submit)="submitForm($event)">
  <input name="username" type="text" [(ngModel)]="username" />
  <input name="password" type="password" [(ngModel)]="password" />
  <button type="submit">Enviar</button>
</form>
